<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 코드 추가 -->
	<!-- Animal t = new Animal();  -->
	<!--위 아래 동일한 의미  -->
	<bean id="animal" class="Pack01.Animal"/>

</beans>
